<%= form_with(model: whatspp_message, local: true) do |form| %>
  <% if whatspp_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(whatspp_message.errors.count, "error") %> prohibited this whatspp_message from being saved:</h2>

      <ul>
      <% whatspp_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :data %>
    <%= form.text_field :data %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :spam %>
    <%= form.check_box :spam %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
