<table class="table table-sm">
    <thead class="thead-light">
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Count</th>
        <th scope="col" colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.second_name %></td>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
          <td><%= user.phone_number %></td>
          <td><%= link_to 'Show', user %></td>
          <td>
            <% if user.admin? %>
              <%= link_to 'Make Worker', change_role_to_worker_user_path(user) %>
            <% else %>
              <%= link_to 'Make Admin', change_role_to_admin_user_path(user) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>