  <!DOCTYPE html>
<html>
  <head>
    <title>Khushi</title>
    <!-- Required meta tags for bootstrap-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="bg-dark">
      <% if notice.present? %>
        <div class="alert alert-success notice" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong><%= notice %></strong>
        </div>
      <% end %>
      <% if alert.present? %>
        <div class="alert alert-danger notice" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong><%= alert %></strong>
        </div>
      <% end %>
      <%= yield %>
      <script type="text/javascript">
        window.setTimeout((function() {
          $('.alert').fadeTo(500, 0).slideUp(500, function() {
            $(this).remove();
          });
        }), 4000);
      </script>
  </body>
</html>